<ul class="sidebar-menu">
    <li class="header">MAIN NAVIGATION</li>
    <li>
        <a href="{{ url('wd_cs_domain_homepage') }}">
            <i class="fa fa-th active"></i> <span>Snippets</span>
            <small class="label pull-right bg-green">new</small>
        </a>
    </li>
    <li class="active treeview">
        <a href="#">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li class="active">
                <a href="{{ url('wd_cs_core_homepage') }}"><i
                            class="fa fa-circle-o"></i> Home</a>
            </li>
            <li>
                <a href="{{ url('wd_cs_themes_core_theme_example_show',{ example: 'index2.html' }) }}"><i
                            class="fa fa-circle-o"></i> Dashboard v2</a>
            </li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-files-o"></i>
            <span>Snippets Management</span>
            <span class="label label-primary pull-right">4</span>
        </a>
        <ul class="treeview-menu">
            <li><a href="{{ url('wd_cs_themes_core_theme_example_show',{ example: 'layout/top-nav.html' }) }}"><i
                            class="fa fa-circle-o"></i> Top Navigation</a></li>
            <li><a href="{{ url('wd_cs_themes_core_theme_example_show',{ example: 'layout/boxed.html' }) }}"><i
                            class="fa fa-circle-o"></i> Boxed</a></li>
            <li><a href="{{ url('wd_cs_themes_core_theme_example_show',{ example: 'layout/fixed.html' }) }}"><i
                            class="fa fa-circle-o"></i> Fixed</a></li>
            <li>
                <a href="{{ url('wd_cs_themes_core_theme_example_show',{ example: 'layout/collapsed-sidebar.html' }) }}"><i
                            class="fa fa-circle-o"></i> Collapsed Sidebar</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-files-o"></i>
            <span>Snippets</span>
            <span class="label label-primary pull-right">4</span>
        </a>
        <ul class="treeview-menu">
            <li><a href="{{ url('wd_cs_themes_core_theme_example_show',{ example: 'layout/top-nav.html' }) }}"><i
                            class="fa fa-circle-o"></i> Top Navigation</a></li>
            <li><a href="{{ url('wd_cs_themes_core_theme_example_show',{ example: 'layout/boxed.html' }) }}"><i
                            class="fa fa-circle-o"></i> Boxed</a></li>
            <li><a href="{{ url('wd_cs_themes_core_theme_example_show',{ example: 'layout/fixed.html' }) }}"><i
                            class="fa fa-circle-o"></i> Fixed</a></li>
            <li>
                <a href="{{ url('wd_cs_themes_core_theme_example_show',{ example: 'layout/collapsed-sidebar.html' }) }}"><i
                            class="fa fa-circle-o"></i> Collapsed Sidebar</a></li>
        </ul>
    </li>
    <li><a href="documentation/index.html"><i class="fa fa-book"></i> <span>Documentation</span></a></li>
    <li class="header">LABELS</li>
    <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
    <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
    <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>
</ul>
